{% load static %}
<div class="resposta-container" style="padding-left: 50px; margin-top: 10px;">
    <div class="user">
      <div class="user-pic">
        <a href="{% url 'user' resposta.autor.username %}">
          <img src="{{ resposta.autor.foto_de_perfil.url }}" alt="Avatar" style="width: 100%; height: 100%;">
        </a>
      </div>
      <div class="user-info">
          <span>@{{ resposta.autor.username }}</span>
        <p>{{ resposta.created | date:"d M Y - H:i" }}</p>
      </div>
    </div>
    <div class="comment-content">{{ resposta.body }}</div>
</div>