.login-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 430px;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 5%;
}
.error-message {
    color: red;
    margin-top: 10px;
    display: none;
}
@media (max-width: 768px) {
    .login-container {
        margin-top: 13vh;
        width: 95%;
    }

}