{% load static %}
<footer class="footer">
    <a href="https://www.ifbaiano.edu.br/unidades/santaines/" target=”_blank”>
        <div class="footer-container">
            <img src="{% static 'JIFB/logo-ifbaiano.png' %}" alt="Logo do Rodapé" class="footer-image">
            <img src="{% static 'JIFB/logo_nv-removebg-preview.png' %}" alt="Logo do Rodapé JIFB" class="footer-logo-jif">
        </div>
    </a>
      <hr>
    <div>
        <p class="">©  Criado por Silas Andrade e Guilherme Henrique | IF Baiano Campus Santa Inês</p>
    </div>
</footer>