{% load static %} 
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JIFB | Santa Inês</title>
    <link rel="stylesheet" href="{% static 'css/eventos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
<body>

    {% include 'navbar.html' %}

      <div class="entrada-container">
          <img src="{% static 'JIFB/entrada-ifbainao.jpg' %}" alt="Entrada do IF" class="entrada-lg">
          <img src="{% static 'JIFB/logo_nv-removebg-preview.png'%}" alt="Logo do Jornal" class="entrada-logo">
          <div class="entrada-mensagem">
            <p>Bem-vindo ao Jornal IFBaiano! Informação com qualidade e compromisso.</p>
          </div>
      </div>

      <div>
        <div>
          {% for noticia in noticias %}
            {% if noticia.visivel == True %}
              <a href="{% url 'noticia' noticia.id %}" style="text-decoration: none; color: inherit;">
                <div class="noticia-card">
                  {{noticia.título}}
                  <br>
                  @{{noticia.autor}}
                  <br>
                  <img src="{% static 'media/' %}{{ noticia.capa_noticia }}" style="width:200px;" alt="">
                </div>
                </a>
            {% endif %}
          {% endfor%} 
        </div>
      </div>


  {% include 'footer.html' %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>