{% load static %} 
<!doctype html>
<html lang="pt-BR">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>JIFB | Santa Inês</title>
<link rel="stylesheet" href="{% static 'css/eventos.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <!-- Navbar -->
    {% include 'navbar.html' %}

      <!-- Entrada do Jornal -->
            <div class="entrada-container">
              <img src="{% static 'JIFB/entrada-ifbainao.jpg' %}" alt="Entrada do IF" class="entrada-lg">
              <img src="{% static 'JIFB/logo_nv-removebg-preview.png'%}" alt="Logo do Jornal" class="entrada-logo">
              <div class="entrada-mensagem">
                <p>Bem-vindo ao Jornal IFBaiano! Informação com qualidade e compromisso.</p>
              </div>
            </div>


     <!-- 
    <section class="eventos" id="eventos">
      <h2 class="titulo-secao">📅 Eventos</h2>
      <div class="eventos-container">
        <div class="carde">
          <img src="{% static 'JIFB/Novembro-negro.png' %}" class="card__image" alt="Imagem do Evento">
          <div class="card__content">
            <h2 class="card__title">Título do Evento</h2>
            <p class="card__descricao">
              Descrição do evento. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
            </p>
            <div class="card__buttons">
              <a href="LINK_DA_PAGINA_DO_EVENTO" class="card__button card__button--page" target="_blank" rel="noopener noreferrer">
                Ver Página
              </a>
              <a href="LINK_DA_POSTAGEM_NO_INSTAGRAM" class="card__button card__button--instagram" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-instagram"></i> Instagram
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>-->



    <!-- Seção de Notícias-->

    <section>
      <div>
        {% for noticia in noticias %}
        <a href="{% url 'noticia' noticia.id %}" style="text-decoration: none; color: inherit;">
          <div class="noticia-card">
          {{noticia.título}}
          <br>
          <img src="{% static noticia.capa_noticia %}" style="width:200px;">
        </div>
        {% endfor%} 
      </div>
    </section>
       
<!--Rodape-->

<footer class="footer">
  <div class="footer-container">
      <img src="{% static 'JIFB/logo-ifbaiano.png' %}" alt="Logo do Rodapé" class="footer-image">
      <img src="{% static 'JIFB/logo_nv-removebg-preview.png' %}" alt="Logo do Rodapé JIFB" class="footer-logo-jif">
  </div>
     <hr>
  <p>© Criado por Silas Andrade e Guilherme Herique | IF Baiano - Campus Santa Inês</p>
</footer>
  


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>